@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Welcome to your Customer Portal</h1>
    <br>

</div>

<section class="page-header page-header-xlg parallax parallax-3" style="        width: 100%;
        background-image: url('/images/33-min.jpg');
        background-repeat: no-repeat;
">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container" style="height: 400px;">

    </div>
</section>
<div class="text-center">
    <h1 class="display-4"><a href="http://www.rocketelevatorscs.ga/"> Visit our Official Website</a>.</h1>
</div>
